// Style sezione dc footer
#dc {
    background-image: url('../images/footer-bg.jpg');

    .col-6 {
        width: 50%;
        padding: 50px 0;
    }

    .col-4 {
        width: calc(100% / 3);
    }

    .bg-logo {
        background-image: url('../images/dc-logo-bg.png');
        background-size: cover;
        background-position: center;
    }

    h4 {
        color: white;
        margin: 10px 0;
    }
    
    li a {
        font-size: 0.7rem;
    }
}