footer {
    background-color: #303030;

    .row {
        justify-content: space-between;
        align-items: center;

        *{
            padding: 10px 0;
        }
    }

    .sign-up {
        padding: 8px 40px; 
        border: 1px solid #0282f9;
    }

    .social * {
        padding-left: 8px;
    }
}